@page "/mileage2"
@using BlazorMiles.Data
@inject MileageContext context;
<h3>Mileage</h3>
<p>Enter Miles: <input @bind-value="NewEntry.Miles"/>  </p>
<p>Enter Gallons: <input @bind-value="NewEntry.Gallons"/>  </p>
<p><button @onclick="Calculate">Calculate and Save</button></p>
<p>Your MPG Is: @MPG</p>



@code {

    private decimal MPG { get; set; }
    private MilesGallon NewEntry { get; set; } = new();

    private void Calculate()
    {
        MPG = NewEntry.Miles / NewEntry.Gallons;
        context.Add(NewEntry);
        context.SaveChanges();
        NewEntry = new MilesGallon();
    }

}
